Package: appserver-runtime
Source: appserver-io.runtime
Version: ${appserver.runtime.version}-${appserver.runtime.build}
Architecture: ${os.architecture}
Maintainer: Johann Zelger <jz@appserver.io>
Depends: libc6,
  libbz2-1.0,
  libcomerr2,
  libdb5.1|libdb5.3,
  libgcc1,
  libgssapi-krb5-2,
  libfreetype6,
  libk5crypto3,
  libkrb5-3,
  libmagic1,
  libonig2|libonig4,
  libpcre3,
  libqdbm14,
  ibssl1.0.0|libssl1.1,
  libxml2,
  mime-support,
  tzdata,
  ucf,
  zlib1g,
  libmcrypt4,
  libpng12-0|libpng16-16,
  libjpeg62,
  libcurl3,
  libltdl7,
  libjpeg8|libjpeg62-turbo,
  libcloog-ppl0|libcloog-ppl1,
  libxslt1.1,
  libicu52|libicu57
Section: php
Priority: optional
Homepage: http://appserver.io
Description: appserver.io provides a multithreaded application server for PHP.
