Package: appserver-runtime
Source: appserver-io.runtime
Version: ${appserver.runtime.version}-${appserver.runtime.build}
Architecture: ${os.architecture}
Maintainer: Johann Zelger <jz@appserver.io>
Depends: libc6,
  libbz2-1.0,
  libcomerr2,
  libdb4.8|libdb5.1,
  libgcc1,
  libgssapi-krb5-2,
  libk5crypto3,
  libkrb5-3,
  libmagic1,
  libonig2,
  libpcre3,
  libqdbm14,
  libssl0.9.8|libssl1.0.0,
  libxml2,
  mime-support,
  tzdata,
  ucf,
  zlib1g,
  libmcrypt4,
  libpng12-0,
  libjpeg62,
  libcurl3,
  libltdl7,
  libjpeg8,
  libcloog-ppl0 | libcloog-ppl1,
  libxslt1.1
Section: php
Priority: optional
Homepage: http://appserver.io
Description: appserver.io provides a multithreaded application server for PHP.
